@model BrandViewModel

@using(Html.BeginForm("Add","Brand",null,FormMethod.Post,null,new {@enctype="multipart/form-data"}))
{ 
@Html.ValidationSummary("",new {@class="alert alert-warning"});
 <div class="form-group">
   @Html.LabelFor(e=>e.brand.Name)
    @Html.TextBoxFor(modelItem=>modelItem.brand.Name,new {@class="form-control"})
 </div>
   <div class="form-group">
       @Html.LabelFor(e=>e.logo)
      @Html.TextBoxFor(e=>e.logo)
  </div>
  <input type="submit" class="btn btn-success"/>
}
<script>
  const form ={
    filePicker:$('')
  }
</script>