@model IEnumerable<BrandDTO>
@{
  ViewData["Head"] = "View All Brand";
 }
  <p class="text-right">Total Count : @Model.Count()</p>

<div class="d-flex flex-row justify-content-between align-items-end">
<table class="table table-hover custom-align-table brands">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     @for (int i=0;i<Model.Count();i++)
     { 
       <tr>
           <td>@(i+1)</td>
           <td>@Model.ElementAt(i).Name</td>
           <td><img src="@Model.ElementAt(i).ImagePath" alt="@Model.ElementAt(i).Name Logo" class="border rounded-lg brand"></td>
           <td>@Html.ActionLink("Edit","Edit","Brand",new {id=Model.ElementAt(i).Id},new {@class="btn btn-danger block"})</td>
       </tr>
     }
  </tbody>
</table>
</div>