@model IEnumerable<BrandDTO>
<div class="d-flex flex-row justify-content-between align-items-end">
<table class="table table-hover custom-align-table">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var item in Model)
     { 
       <tr>
           <td>@item.Id</td>
           <td>@item.Name</td>
           <td><img src="@item.ImagePath" alt="@item.Name Logo" class="border" width="110px" height="110px"></td>
           <td>@Html.ActionLink("Edit","Edit","Brand",new {id=item.Id},new {@class="btn btn-danger block"})</td>
       </tr>  
     }
  </tbody>
</table>
</div>