@using System.Collections.Generic;
@model ShowSeriesViewModel;
@{
    ICollection<SelectListItem> selectListItems = new List<SelectListItem>();
    foreach (var item in Model.Brands)
        selectListItems.Add(new SelectListItem() { Text = item.Name, Value = item.Id.ToString() });

    ICollection<SelectListItem> categories = new List<SelectListItem>();
    foreach (var item in Model.Category)
        categories.Add(new SelectListItem() { Value = item.Key.ToString(), Text = item.Value });
}

@using(Html.BeginForm("ViewAll","Series",FormMethod.Get,new {@class=""})){
<div class="row">
    <div class="col-auto form-group mr-2">
        <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="Brands">Select Brand</label>
        </div>
        @Html.DropDownList("BrandId",selectListItems,new {@class="custom-select"})
    </div>
    @Html.ValidationMessage("BrandId","",new {@class="small text-danger"})
   </div>

    <div class="col-auto form-group mr-3">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="Brands">Select Category</label>
        </div>
        @Html.DropDownList("CategoryId",categories,new {@class="custom-select"})
    </div>
     @Html.ValidationMessage("CategoryId","",new {@class="small text-danger"})
    </div>
    <div class="col-3">
        <button type="submit" id="submitButton" class="col-2 btn btn-success p-2">Go</button>
    </div>
    @Html.Hidden("IsSecond",true)
</div>
}
<div class="viewItems">
    @if(Model.Series!=null)
    {
        <p class="text-right">Total Count : @Model.Series.Count()</p>
        @if(Model.Series.Count()>0)
        {
    <table class="table table-hover">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Action</th>
        </thead>
        <tbody>
            @for (int i=0;i<Model.Series.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model.Series.ElementAt(i).Title</td>
                    <td><img src="@Model.Series.ElementAt(i).ImagPath" class="border rounded" width="160px"/></td>
                    <td>@Html.ActionLink("Edit","Edit",new {Id=Model.Series.ElementAt(i).Id},new {@class="btn btn-danger"})</td>
                </tr>
            }
        </tbody>
    </table>
        }
        else{
            <div class="alert alert-danger alert-dismissible fade show small" role="alert">
                <strong>No Item Added</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true ">&times;</span>
                </button>
            </div>
        }
    }
    else
    {

    }
</div>
<script type="text/javascript">
    var elements = {
        brandDropdown: '#Category',
        categoryDropDown: '#Brands',
        submitButton: '#submitButton',
        viewItem: '#viewItems'
    };
    $(elements.submitButton).click(function (e) {
        $.ajax({
            url: ''
        });
    })
    let item = {
        Id: 0,
        Title: "",
        BrandId: 0,
        CategoryId: 0
        ImagPath: ""
    };

</script>
