@model HomeViewModel;

@{
    bool IsImagesAvalaible = Model.Images!=null && Model.Images.Count()>0;
}
<section id="slider-wrapper">
    <div id="prev" class="control" onclick=""><img src="~/images/site/prev.png" /></div>
        @if(IsImagesAvalaible)
        {
             <div id="slider">
   
            @foreach (var item in Model.Images)
            {
                <img src="@item" class="slide"/>
            }
             </div>
   
        }
        else
        {
            <partial name="_NoImage"></partial>
        }
    <div id="next" class="control"><img src="~/images/site/next.png" /></div>
</section>
<section class="d-flex flex-column" id="main">
    <section id="home-categories">
        <h3 class="head d-block text-center"><span class="border-line">Products</span></h3>
        <div class="d-flex justify-content-center">
            
            <div class="d-flex flex-wrap" id="home-product-wrapper">
               @if(Model.BaseCategories!=null)
            {
                @foreach (var item in Model.BaseCategories)
                {
                <div class="category">
                    <a href="@Utilities.GetActionLinkForCategoryOrProduct(item.Id,!item.HoldChildren,false)" class="category-content" style="--background-image:url('./image/faucetjpg.jpg')">
                        <span class="text">
                            <p class="name">@item.Title</p>
                            <p class="link">View Products &#187;</p>
                        </span>
                    </a>
                </div>
                    
                }
            }
            </div>
        </div>
    </section>
    <section class="mt-1" id="home-brands">
        <h3 class="head text-center"><span class="border-line">Brands</span></h3>
        <div class="brand-wrapper-holder">
            <ul class="brand-wrapper">
                
                @if (Model.Brands != null && Model.Brands.Count() > 0)
                {
                    foreach (var item in Model.Brands)
                    {
                        <li><img src="@item.Value" alt="@item.Key" /></li>
                    }
                }
              
            </ul>
        </div>
    </section>
</section>

    @if (IsImagesAvalaible)
    {
     @section BodyInvokeScripts
     {
         <script>
         $(function () {
            const elements = {
                sliderWrapper: '#slider-wrapper',
                slider: '#slider'
            }
            /*Array.from(images).forEach(function (value, index) {
                const slideWrapper = $('<div>').addClass('slide-wrapper')
                const slide = $('<div>').addClass('slide').css('background-image', `url(${value})`)
                slideWrapper.append(slide)
                $(elements.slider).append(slideWrapper).css('width', `${images.length * 100}%`);
            });
            */
            buildSlider(elements.slider, elements.sliderWrapper, false)
        })   
        </script>
     }
       
    }
    else
    {
        @section BodyInvokeScripts
        {
          <script>removeControls();</script>
        }
    }

