@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ProductBLL>

@using (Html.BeginForm("Search", "Product", FormMethod.Get))
{
    <div class="row">
        <div class="col-3 form-group">
            @Html.TextBox("search",new {@class="form-control"})
        </div>
        <div class="col-2">
          <button type="submit">Search</button>
        </div>
    </div>

    <table>
        <thead>
            <th>
            <td>Code</td>
            <td>Name</td>
            <td>Brand</td>
            <td>Items</td>
            <td>Description</td>
            <td>Action</td>
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Brand.Name</td>
                    <td>
                        <table>
                            <thead>
                                <th>
                                <td>@switch (item.Type)
                                        {
                                            case ((byte)ProductType.ColorVariable):
                                            <span>Color</span>
                                                break;
                                            case ((byte)ProductType.SizeVariable):
                                            <span>Size</span>
                                                break;
                                            case ((byte)ProductType.TypeVaribale):
                                            <span>Type</span>
                                                break;
                                            default:
                                            <span></span>
                                                break;
                                        }
                                </td>
                                <td>Quantity</td>
                                <td>Price</td>
                                </th>
                            </thead>
                            <tbody>
                                @foreach (var attributeItem in item.AttributeBLLs)
                                {
                                    <tr>
                                        <td>@attributeItem.Value</td>
                                        <td>@attributeItem.Quantity</td>
                                        <td>@attributeItem.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td>@Html.Raw(item.Description)</td>
                    <td class="d-flex justify-content-around">
                        @Html.ActionLink("Edit","Edit","Product",new {Id=item.Id},new {@class="btn btn-warning"})
                        @Html.ActionLink("Delete","Delete","Product",new {Id=item.Id},new {@class="btn btn-danger"})
                    </td>
                </tr>
            }
        </tbody>
    </table>

}