<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Constants.PortalName</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300" rel="stylesheet">

    <environment exclude="Developmemnt">
           <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
      <script type="text/javascript" src="~/dist/cms.min.entry.js"></script>
    </environment>

    <environment include="Development">
        <script type="text/javascript" src="~/dist/cms.entry.js"></script>
    </environment>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @RenderSection("HeadInvokeScripts", required: false)
    @RenderSection("Styles",false)
</head>

<body>
    @if (!Context.Request.RouteValues["action"].ToString().Equals("LogIn"))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Home" asp-area="Cms"
                        asp-action="Index">@Constants.PortalHead</a>
                </div>
            </nav>
        </header>
    }
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    </div>
    </div>
    <footer class="border-top footer text-muted footer-bottom">
        <div class="container">
            @Constants.PortalName
        </div>
    </footer>
</body>

</html>
