@using SanitaryCartControl.Miscelleneous.Constnants;
@using Microsoft.AspNetCore.Identity;
@using SanitaryCartControl.Core.Entities.DALModels;
@inject UserManager<ApplicationUser> _userManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Constants.PortalName</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300" rel="stylesheet">
    
    <environment include="Production">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> 
    </environment>
 
    <environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/site.css"  asp-append-version="true"/>
    </environment>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    @RenderSection("Styles",false)
    @RenderSection("Scripts", required: false)
</head>
<body id="page">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Constants.PortalHead</a>
            </div>
            <div class="logout-section d-flex align-items-center justify-content-end">
                @{
                    var user = _userManager.GetUserAsync(User).Result;
                    string name = $"{user.FirstName} {user.LastName}";
                    string image = user.ImagePath;
                }
                <label class="pr-2">Hi, @name</label>
                @using (Html.BeginForm("LogOut", "Account"))
                {
                    <button class="border" style="background-image: url(@image);background-size: contain;"></button>
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 collapse show d-md-flex bg-light p-0 min-vh-100" id="sidebar">
                <ul class="nav flex-column flex-nowrap overflow-hidden  main-ul">
                    <li class="nav-item  ">
                        <a class="nav-link text-truncate" asp-area="Cms" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i>
                            <span class="d-inline">Home</span></a>
                    </li>
                      <li class="nav-item  ">
                        <a class="nav-link text-truncate" asp-area="Cms" asp-controller="Category" asp-action="GetNonSeriesHolder">
                            <i class="fa fa-sitemap"></i>
                            <span class="d-inline">View Category</span></a>
                    </li>
                    <hr style=" width: 94%;z-index: 1;border: 1px solid white;"/>
                    <li class="nav-item ">
                        <a class="nav-link collapsed text-truncate" data-target="#Brand" data-toggle="collapse">
                            <i class="fa fa-building"></i>
                            <span class="d-inline">Brands</span></a>
                        <div class="collapse" id="Brand" aria-expanded="false">
                            <ul class="flex-column pl-4 nav sub-ul">
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-area="Cms" asp-action="Add" asp-controller="Brand">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i><span>Add</span>
                                    </a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-area="Cms" asp-action="GetAll" asp-controller="Brand">
                                        <i class="fa fa-list-ol" aria-hidden="true"></i> <span>View All</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link collapsed text-truncate" data-target="#Product" data-toggle="collapse">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            <span class="d-inline">Product</span></a>
                        <div class="collapse" id="Product" aria-expanded="false">
                            <ul class="flex-column pl-4 nav sub-ul">
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-area="Cms" asp-action="Add" asp-controller="Product">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i> <span>Add</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-area="Cms" asp-action="Search" asp-controller="Product">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i> <span>Search</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link collapsed text-truncate" data-target="#Series" data-toggle="collapse"><i
                                class="fa fa-cubes" aria-hidden="true"></i> <span class="d-inline">Series</span></a>
                        <div class="collapse" id="Series" aria-expanded="false">
                            <ul class="flex-column pl-4 nav sub-ul">
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-area="Cms" asp-action="Add" asp-controller="Series">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i> <span>Add</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-area="Cms" asp-action="ViewAll" asp-controller="Series">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i> <span>Find</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link collapsed text-truncate" data-target="#Account" data-toggle="collapse"><i
                                class="fa fa-user-circle-o"></i> <span class="d-none d-sm-inline">Users</span></a>
                        <div class="collapse" id="Account" aria-expanded="false">
                            <ul class="flex-column pl-4 nav sub-ul">
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-area="Cms" asp-action="Register" asp-controller="Account">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i><span>Add</span>
                                    </a>
                                </li>
                                <li class="nav-item"> <a class="nav-link collapsed py-1" asp-area="Cms" asp-action="ViewAll"
                                        asp-controller="Account">
                                        <i class="fa fa-users" aria-hidden="true"></i> <span>View All</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="col pt-2">
                <label class="body-header">
                    <img src="/images/site/icon.png" width="50px" height="50px" class="pr-1" /> <span
                        style="vertical-align:middle;">@ViewData["Head"]</span> </label>
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
           @Constants.PortalName
        </div>
    </footer>
   
    <environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

   <environment include="Production">
   <script src="~/js/site.min.js" asp-append-version="true"></script>
   </environment>
@RenderSection("BodyInvokedScripts",false)
</body>

</html>
