@model ItemViewModel
@Html.Partial("_Breadcrumb",Model.Breadcrumps)
<div id="Item-Wrapper"> 
<script type="text/javascript"> 
    window.parentId = @Model.ParentId;
    window.itemRequestUrl =@Json.Serialize(@Url.Action("Get","Item",new {Id=""}));      
</script>
@if(Model.IsSubCategory)
{
  foreach (var item in Model.CategoryInfos)
  {
      <div class="itemHolder">
              <a class="imageHolder" href='@Url.Action("Get","Item",new {IsSubCategory=Json.Serialize(item.IsSubCategory),Id=item.Id})'>
                <img src="@item?.ImagePath"/>
              </a>
              <text class="title">@item.Title</text>
      </div>
  }
      <script type="text/javascript">
         isSubCategory =true;
      </script>
  
}
else
{
  if(Model.ProductInfos.Count()>0)
  {
      foreach (var item in Model.ProductInfos)
      {
      <div class="itemHolder">
        <div class="imageHolder">
          <img src="@item?.ImagePath" />
          <a class="link" href='@Url.Action("GetProduct","Item",new {Id=@item.Id})'>View Details</a>
        </div>
        <text class="title">@item.Name<text>
      </div>
      }
  }
  else
  {
     <h3>No Product Found</h3>
  }
}
      <script type="text/javascript">
        var isSubCategory =false;
      </script>
</div>

<script src="~/dist/item.entry.js"></script>