@model ItemViewModel

<partial name="_Breadcrumb" for="Breadcrumps"></partial>
<div id="Item-Wrapper" class="m-1 p-lg-5 pb-lg-0 lazy-wrapper"> 
@if(!Model.IsEndCategory)
{
   if(Model.CategoryInfos.Count()>0)
   {
    
  foreach (var item in Model.CategoryInfos)
  {
      <div class="itemHolder">
              <a class="imageHolder" href='@Utilities.GetActionLinkForCategoryOrProduct(item.Id,!item.HoldChildren,false)'>
                <img data-src="@item?.ImagePath" class="lazy"/>
              </a>
              <text class="title">@item.Title</text>
      </div>
  } 
   }
   else
   {
     <h3>No Item Added</h3>
   }

}
else
{
  if(Model.ProductInfos.Count()>0)
  {
      foreach (var item in Model.ProductInfos)
      {
      <div class="itemHolder">
        <div class="imageHolder">
          <img data-src="@item?.ImagePath" class="lazy"/>
          <a class="link" href='@Utilities.GetActionLinkForCategoryOrProduct(item.Id,false,true)'>View Details</a>
        </div>
        <text class="title">@item.Name<text>
      </div>
      }
  }
  else
  {
     <h3>No Product Found</h3>
  }
  <script type="text/javascript"> 
    window.categoryId = @Model.ParentId;
    window.isSubCategory = true;
    window.productRequestUrl =@Json.Serialize(@Url.Action("Get","Item",new {Id=""}));      
    if(activateBuildItems) 
    activateBuildItems();
    else
    console.error('Item Loader Not Added')
  </script>
}
</div>

<script> window.lazyLoadActivation();</script>