@using SanitaryCartControl.Core.Entities.BLLModels;
@model CategoryBreadcrumbInfo[];
@{
    ViewData["Head"] = "View All Category";
}
<input type="text" class="form-control mb-1 mt-1" style="width:230px" id="search-box" placeholder="Search Box . . ."/>
<div id="categories-list">
<table class="table table-striped table-hover lazy-wrapper" id="table-breadcrumb">
    <thead>
       <tr>
           <th>#</th>
           <th>Breadcrumb</th>
           <th>Image</th>
           <th>Action</th>
       </tr>
    </thead>
    <tbody>
        @for(int position=1;position<=Model.Length;position++)
        {
                CategoryBreadcrumbInfo item = Model[position-1];
                string appendedClass ="";
                string imagePath = item.ImagePath ;
                string targetName = "image-"+position;
                if(imagePath==null)
                {
                      imagePath =   "/images/site/image-not-found.png";
                 appendedClass ="append-class";
                }

   
            <tr>
                <td>@position</td>
                <td>@item.Breadcrumps</td>
                <td>
                    <div class="img-perfect">
                    <a href="#@targetName" class="overlay-image-wrapper">
                        <img data-src='@imagePath' class="border rounded-lg img-perfect @appendedClass lazy"/>
                    </a>
                     <div class="lb-overlay" id="@targetName">
                      <img data-src="@imagePath" />
                      <a class="text-danger lb-close" href="#page">X</a>
                      <p>@item.Breadcrumps</p>
                    </div>
                    </div>
                </td>
                <td><a asp-action="Edit" asp-area="Cms" asp-route-id="@item.Id"><i class="fa fa-pencil fa-2x text-info"></i></a></td>
            </tr>
        }
    </tbody>
</table>
</div>
@section BodyInvokeScripts
    {
    <script>
        const elements = {
            searchBox:'#search-box',
            table:'#table-breadcrumb'  
        };
        if($)
        {
            $(setTimeout(function(){
                   $('.append-class').addClass('fade-in')
            },1000));
            let scrollIntervalId ;
            $(elements.searchBox).keyup(function(e){
                const shouldScroll = false;
                const value = $(elements.searchBox).val().toLowerCase();
                $(`${elements.table}>tbody>tr`).each(function(index,row){
                 $(row).toggle($(row).text().toLowerCase().indexOf(value)>-1);
                });
                
                clearInterval(scrollIntervalId)
                scrollIntervalId = setTimeout(function(){
                $(window).scrollTop(document.documentElement.scrollTop+1);
              },3000)
            });
            
            $('a.overlay-image-wrapper').click(function(e){
               const imageSrc = $(this).find('>img').attr('data-src')
               $(this).next().find('>img').attr('src',imageSrc);  
            })
        }
        if(window.lazyLoadActivation)
        {
            $(function(){
                window.lazyLoadActivation();
            })
        }
    </script>
    }