@using SanitaryCartControl.Core.Entities.BLLModels;
@model CategoryBreadcrumbInfo[];
@{
    ViewData["Head"] = "View All Category";
}
<input type="text" class="form-control mb-1 mt-1" style="width:230px" id="search-box" placeholder="Search Box . . ."/>
<table class="table table-striped table-hover" id="table-breadcrumb">
    <thead>
       <tr>
           <th>#</th>
           <th>Breadcrumb</th>
           <th>Image</th>
           <th>Action</th>
       </tr>
    </thead>
    <tbody>
        @for(int position=1;position<=Model.Length;position++)
        {
                CategoryBreadcrumbInfo item = Model[position-1];
                string appendedClass ="";
                string imagePath = item.ImagePath ;
                string targetName = "image-"+position;
                if(imagePath==null)
                {
                      imagePath =   "/images/site/image-not-found.png";
                 appendedClass ="append-class";
                }

   
            <tr>
                <td>@position</td>
                <td>@item.Breadcrumps</td>
                <td>
                    <div class="img-perfect">
                    <a href="#@targetName"><img src='@imagePath' class="border rounded-lg img-perfect @appendedClass"/></a>
                     <div class="lb-overlay" id="@targetName">
                      <img src="@imagePath" />
                      <a class="text-danger lb-close" href="#page">X</a>
                      <p>@item.Breadcrumps</p>
                    </div>
                    </div>
                </td>
                <td><a asp-action="Edit" asp-area="Cms" asp-route-id="@item.Id"><i class="fa fa-pencil fa-2x text-info"></i></a></td>
            </tr>
        }
    </tbody>
</table>

@section BodyInvokeScripts
    {
    <script>
        const elements = {
            searchBox:'#search-box',
            table:'#table-breadcrumb'  
        };
        if($)
        {
            $(setTimeout(function(){
                   $('.append-class').addClass('fade-in')
            },1000));
            $(elements.searchBox).keyup(function(e){
                const value = $(elements.searchBox).val().toLowerCase();
                $(`${elements.table}>tbody>tr`).map(function(index,row){
                 $(row).toggle($(row).text().toLowerCase().indexOf(value)>-1);
                });
            });
        }
    </script>
    }