@model 	RegisterViewModel
@{
	ViewData["Head"] = "Register A User";
}

@using(Html.BeginForm("Register","Account",FormMethod.Post))
{
    <div class="container p-2" id="add-user">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Add User as Manager</h5>
				@if(ViewData.ModelState.Keys.Where(e=>e.Equals("RegisterError")).Count()>0)
				{    
                <div class="alert alert-info alert-dismissible">
			        @Html.ValidationSummary("",new {@class="small text-danger"},"span")
				</div>
				}
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">FirstName</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-prepend"><i class="fa fa-user fa fa-1x m-auto p-1" aria-hidden="true"></i></span>
					     			@Html.TextBoxFor(e=>e.FirstName,"",new {@class="form-control",@placeholder="Enter FirstName"})
								</div>
							</div>
								@Html.ValidationMessageFor(e=>e.FirstName,"",new {@class="text-danger small"},"span")
						</div>


						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">LastName</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-prepend"><i class="fa fa-user fa fa-1x m-auto p-1" aria-hidden="true"></i></span>
								@Html.TextBoxFor(e=>e.LastName,"",new {@class="form-control",@placeholder="Enter LastName"})
								</div>
							</div>
								@Html.ValidationMessageFor(e=>e.LastName,"",new {@class="text-danger small"},"span")
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-prepend"><i class="fa fa-users fa-1x m-auto p-1" aria-hidden="true"></i></span>
								@Html.TextBoxFor(e=>e.UserName,"",new {@class="form-control",@placeholder="Enter Username"})
								</div>
							</div>
						@Html.ValidationMessageFor(e=>e.UserName,"",new {@class="text-danger small"},"span")
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-prepend"><i class="fa fa-lock fa-lg  fa-1x m-auto p-1" aria-hidden="true"></i></span>
							    @Html.TextBoxFor(e=>e.Password,"",new {@class="form-control",@type="password",@placeholder="LogIn Password",@autocomplete="off"})
									</div>
							</div>
						@Html.ValidationMessageFor(e=>e.Password,"",new {@class="text-danger small"},"span")

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="password-toggle">
  <label class="form-check-label" for="password-toggle">
    Show Password
  </label>
</div>
						<script type="text/javascript">
if($)
{
	const elements =
	{
		passwordField:'#Password',
        passwordToggler:'#password-toggle'
	};
	var showPassword= false;
  $('#password-toggle').click(function(){
         showPassword = !showPassword;
		 if(showPassword)
		 $(elements.passwordField).attr('type','text');
		 else
		 $(elements.passwordField).attr('type','password'); 
  });	
}
</script>

						</div>
						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-prepend"><i class="fa fa-lock fa-lg  fa-1x m-auto p-1" aria-hidden="true"></i></span>
										@Html.TextBoxFor(e=>e.ConfirmPassword,"",new {@class="form-control",@type="password",@placeholder="Confirm Password"})
								</div>
							</div>
							@Html.ValidationMessageFor(e=>e.ConfirmPassword,"",new {@class="text-danger small"},"span")
						</div>

						<div class="form-group ">
							<button type="button"   id="registerButton" class="btn btn-primary btn-lg btn-block login-button" data-toggle="modal" data-target="#exampleModal">Register</button>
						</div>
				</div>
			</div>
		</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Please, Note Down Username and Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you sure to add a user ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>
}

\