@using SanitaryCartControl.Core.Entities.DALModels;
@model IEnumerable<ApplicationUser>
@using Microsoft.AspNetCore.Antiforgery;
@inject IAntiforgery antiForgery;
@{
  ViewData["Head"] = "View Alll Managerial Role User";
}
@if (Model == null || Model.Count() == 0)
{
          <h6 class="alert alert-danger">No User Added</h6>
}
else
{
    <table class="table w-50 mx-auto table-hover table-sm">
    <thead>
        <th>S.No </th>
        <th>FullName</th>
        <th>UserName</th>
        <th>Action</th>
    </thead>
    @for (var i = 0; i < Model.Count(); i++)
    {
            var user = Model.ElementAt(i);
            string fullName = user.FirstName+" "+user.LastName;
           
      <tr>
          <td>@(i+1)</td>
          <td>@fullName</td>
          <td>@Model.ElementAt(i).UserName</td>
          <td class="p-0">
                <button role="button" class="text-danger btn btn-lg p-0" style="font-size: 29px;" onclick='deleteRequest(@Json.Serialize(Model.ElementAt(i).Id))'><i class="fa fa-trash vibrate-1"></i></button>
          </td>
      </tr>
    }
    </table>
}
@{
var antiforgery = antiForgery.GetAndStoreTokens(httpContext:Context);
string formFieldName = antiforgery.FormFieldName;
string token = antiforgery.RequestToken;  
}
<script type="text/javascript">
  function failed(){
  window.location=@Json.Serialize(Url.Action("DeleteFailed"));
  }
 function deleteRequest(Id){
  if(Id)  
  $.ajax({url:@Json.Serialize(Url.Action("Delete")),data:{Id,@Json.Serialize(formFieldName): @Json.Serialize(token)},type:'POST'})
  .done(function(){
    window.location  = @Json.Serialize(Url.Action("DeleteSucced"))
  })
  .fail(function(jqXHR, textStatus, errorThrown){
    failed();
  })
  else
   failed();
  }
</script>

