@using System.Text.Json;

@model ProductEditViewModel
@{
    ViewData["Head"] = "Edit Product : " + Model.Product.Code;
}

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(e=>e.Product.Id)
    @Html.HiddenFor(e=>e.Product.Type)
    @Html.HiddenFor(e=>e.Product.Brand_Id_FK)
    @Html.HiddenFor(e=>e.Product.Category_Id_FK)    
<div class="card">
    <div class="card-header font-weight-bold">Basic Information : </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3 form-group">
                <label>Code</label>
                @Html.TextBoxFor(e=>e.Product.Code,"",new {@class="form-control",@readonly="readonly"})
            </div>
            <div class="col-4 form-group">
                <label>Category : </label>
                @Html.TextBoxFor(e=>e.BreadCrumps,"",new {@class="form-control",@disabled="true"})
            </div>
            <div class="col-4 form-group">
                <label>Brand : </label>
                    <div class="d-flex justify-content-around align-items-start">
                    <span>@Html.TextBoxFor(e=>e.Brand.Name,"",new {@class="form-control",@disabled="true"})</span>
                    <span><img src="@Model.Brand.ImagePath" width="99px" height="70px" class="border rounded"/></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 form-group">
                <label>Date Created : </label>
                @Html.TextBoxFor(e=>e.Product.DateAdded,"",new {@class="form-control pointer-none",@readonly="readonly"})
            </div>
            @{
                string visisbility = "";
                if(Model.Product.DateUpdated.Equals(Model.Product.DateAdded))
                visisbility="invisible";
            }
            <div class="col-3 form-group @visisbility">
                <label>Date Modified : </label>
                        @Html.TextBoxFor(e=>e.Product.DateUpdated,"",new {@class="form-control pointer-none",@readonly="readonly"})
            </div>
            <style>

            </style>
            
        </div>
    </div>
</div>
    <div class="card">
        <div class="card-header font-weight-bold">Edit Informaton : </div>
        <div class="card-body">
            <div class="row">
            <div class="col-4 form-group">
                <label>Name : </label>
                @Html.TextBoxFor(e=>e.Product.Name,"",new {@class="form-control"})
            </div>
                <div class="col-md-8 col-lg-6 quill-wrapper form-group">
                    <label>Description : </label>
                    <div id="quill">

                    </div>
                    @Html.TextAreaFor(e=>e.Product.Description,new {@class="invisible",@style="width:0px;height:0px"})
                    @Html.ValidationMessageFor(e=>e.Product.Description,"",new {@class="text-danger small"},"span")
                </div>
            </div>
         <div class="container-fluid">
              @for (int i=0;i<Model.Attributes.Count();i++)
              {
                  <div class="row">
                     <div class="d-none">
                         @Html.TextBoxFor(e=>e.Attributes[i].Id);
                         
                         @Html.TextBoxFor(e=>e.Attributes[i].AttributeId);
                     </div>
                    @if(Model.Product.Type!=(byte)ProductType.NoneVariable)
                    {
                     <div class="col-3 form-group">
                        <label>@switch(Model.Product.Type)
                                        {
                                            case ((byte)ProductType.ColorVariable):
                                            <span>Color</span>
                                                break;
                                            case ((byte)ProductType.SizeVariable):
                                            <span>Size</span>
                       
                                                break;
                                            case ((byte)ProductType.TypeVaribale):
                                            <span>Type</span>
                                                break;
                                            default:
                                                break;
                                        } </label>
                    @Html.TextBoxFor(e=>e.Attributes[i].Value,"",new {@class="form-control pointer-none",@readonly="readonly"})
                     </div>
                  
                    }
                     <div class="col-3 form-group">
                        <label>Quantity : </label>
                    @{
                     var name = $"Attributes[{i}].Quantity";
                     }
                <div class="input-group">
                <span class="input-group-prepend">
                <button type="button" class="btn btn-default btn-number bg-danger text-white" 
              data-type="minus" data-field="@name">
                <span class="fa fa-minus"></span>
                </button>
                </span>
                @Html.TextBoxFor(e=>e.Attributes[i].Quantity,"",new {@class="form-control input-number",@min="1",@max="255"})
                <span class="input-group-append">
                <button type="button" class="btn btn-default btn-number bg-success text-white" data-type="plus" data-field="@name">
                <span class="fa fa-plus"></span>
                </button>
                </span>
               </div>
                 @Html.ValidationMessageFor(e=>e.Attributes[i].Quantity,null,new {@class="text-danger small"})        
                </div>
                <div class="col-3">
                 <label>Price : </label>
                 @Html.TextBoxFor(e=>e.Attributes[i].Price,"",new {@class="form-control"})
                 @Html.ValidationMessageFor(e=>e.Attributes[i].Price,null,new {@class="text-danger small"})
                </div>
                <div class="col-2 form-group">
                    <label>Status : </label>
                 @Html.CheckBoxFor(e=>e.Attributes[i].IsActive,
                 new {@data_on="Visible",@data_off="Hidden",@data_toggle="toggle", @data_onstyle="info" ,@data_offstyle="danger"})
              
                <style>
                    .toggle-handle
                    {
                        background-color: white;
                    }
            .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
                </style>
                </div>
                </div>
              }
            </div>
                <label class="text-white btn btn-primary" id="plusSign"><i class="fa fa-plus"></i>Add More Item</label>
            <div id="attributes-wrapper">
            <div id="attributes">

            </div>
            <style>
                #attributes-wrapper{
                    min-height: 0;
                }
            </style>
            </div>
            <script>
                const onError=function()
                {
                alert('Error Communicating To Server.\nPlease, Contact Administration');
                $('[type="submit"]').hide() 
                }
               $('#plusSign').click(function(){
                if(data[0][itemNameandProperties.AttributeIdProperty]==types.None_Variable)
                {
                    alert('No More Item To Add');        
                }
                else
                {
                $(this).addClass('invisible')
                         $.ajax({
                method: 'GET',
                async: false,
                url: '@Url.Action("GetValues")' + `?type=${state.typeSelected}&categoryId=${state.categoryId}`,
                success: function (result) {
                    state.IsSelected = true;
                    state.remoteValues = result;
                   
                    if(state.remoteValues.length==data.length)
                       alert('No More Item To Add')     
                    else
                    {

                    buildAttribute(state.typeSelected,state.categoryId,data.length);
                ResetFormValidation();
                    }
                },
                error:onError
                });
                }
                
               });
            </script>
            <div>
    <p class="p-2 m-0">
  <button id="uploadButton" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Upload Images <small class="text-light">(Optional)</small>
  </button>
</p>
    <div class="collapse shadow p-3 mb-5 bg-white rounded" id="collapseExample">
  <div class="card card-body">
    <div class="row">
        <div class="col-3" id="fileHolder">
                <input name="Images" id="Images" type="file" multiple="true" class="invisible" accept="image/jpg, image/jpeg, image/png"/>
            <label class="btn btn-outline-warning" for="Images">Browse</label>
                @Html.ValidationMessageFor(e=>e.Images,"",new {@class="text-danger small"},"span")
        </div>
            <div id="image-viewer" 
            class="w-75 border border-primary rounded d-flex flex-wrap justify-content-center p-4">
                @foreach (var item in Model.Images)
                {
                    <img src="@item" class="border rounded m-3 p-1" width="170px" height="170px" />
                }
            </div>            
    </div>
    </div>
    </div>
    </div>

        </div>
    </div>
    <div class="float-right w-75 d-flex justify-content-around mt-5 mb-5">
            @Html.ActionLink("Cancel", null, null, null, new { @href = "#" ,@onclick="history.go(-1);",@class="btn btn-outline-danger p-2 w-50 mr-2" })
            <button type="submit" class="btn btn-success w-25 p-2">Update</button>
    </div> 
}


<script>
    var elements = {
        textAreaId:'#Product_Description'
    }
    var quill = new Quill('#quill', {
        modules: {
            toolbar: [
                ['bold', 'italic', 'underline'],
            ]
        },
        theme: 'snow'
    });
    quill.root.innerHTML = '@Html.Raw(Model.Product.Description)'
    quill.root.setAttribute('spellcheck', false)
    quill.on('text-change', function (delta, oldDelta, source) {
        $(elements.textAreaId).val(quill.container.firstChild.innerHTML);
    });

    const valueChange = function(e){
    e.preventDefault();

    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {

            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            } 
            if(parseInt(input.val()) == input.attr('min')) {
                $(this).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }

        }
    } else {
        input.val(0);
    }
};
    $('.btn-number').click(valueChange);
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {
    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());
    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }
});
$(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>
<script>
    $('[type="submit"]').removeClass("invisible");
    var elements = {
        menuId: "#menu",
        textBoxId: "#Category_Id_FK",
        textAreaId: "#Product_Description",
        brandSelection: "#Product_Brand_Id_FK",
        categoryTextBox: "#Product_Category_Id_FK",
        productAttriuttesSection: "#attributes",
        productAttriuttesWrapper: "#attributes-wrapper",
        codeInput: '#Product_Code',
        nameInput: '#Product_Name',
        imageUpload: '#Images',
        imageViewer: '#image-viewer',
        dateField:'#Product_DateAdded',
        uploadButtonLabel:'#uploadButton',
        dateUpdated:'#Product_DateUpdated',
            fileHolder:'#fileHolder'
    
    };
    var inputNames = {
        fileInput:'Images'
    }
   
     function reInitializeFileInput(){
        $(elements.fileHolder).children().first().remove();
        var inputFile = $(`<input id='${inputNames.fileInput}' name='${inputNames.fileInput}'
         type='file' accept='image/jpg, image/jpeg, image/png' class="invisible" multiple=true data-val='false' data-val-required="Please, Select Files"/>`);
        $(inputFile).change(ImageChangeEvent)
        $(elements.fileHolder).prepend(inputFile); 
        ResetFormValidation();
    }
   const ImageChangeEvent = function (e) {
        const files = e.target.files;
         
        if (files && files.length > 0) {
             if(files.length>7)
            {
                alert("Number of Image must be less than 7");
                reInitializeFileInput();
                return false;
            }
             const IsAllFileNotAppropriate=  $(files).filter((index,file)=>{    
                if(Math.ceil(file.size/1024)>64)
                   return true;
            }).length>0;
            if(IsAllFileNotAppropriate)
            {
                alert('Image File Size Too Long.\nEach Must Be Less Than 64KB');
                reInitializeFileInput();
                return false;
            }
            $(elements.imageViewer).children().remove();
            $(elements.uploadButtonLabel).removeAttr("data-toggle")
            Array.from(files).forEach(e => {
                const reader = new FileReader();
                reader.readAsDataURL(e);
                reader.onload = function (e) {
                    $(elements.imageViewer).append(`<img src='${e.target.result}' class="border rounded m-3 p-1" width='170px' height='170px'/>`)
                };
            });
        }
    };

    $(elements.imageUpload).change(ImageChangeEvent);
    $(elements.nameInput).keyup(function (e) {
        e.preventDefault();
        $(this).val($(this).val().charAt(0).toUpperCase() + $(this).val().slice(1));
    });
    $(elements.codeInput).keyup(function (e) {
        if (e.keyCode >= 65 && e.keyCode <= 90 || e.keyCode == 189)
            $(this).val($(this).val().toUpperCase());
        else
            $(this).val($(this).val().subString(0, $(this).val().length - 1));
    })
    </script>
<script>
    const types = {
        'Size_Variable': 2,
        'Color_Variable': 3,
        'None_Variable': 5,
        'Type_Variable': 1,
        'Material_Variable':7,
        'Grade_Variable':4
    };
    function GetTypeName(Id) {
        
        let result;
        
        switch (Id) {
            case types.Size_Variable:
                result = 'Size';
                break;
            case types.Type_Variable:
                result = 'Type';
                break;
            case types.Color_Variable:
                result = 'Color';
                break;
            case types.Grade_Variable:
                result = 'Grade';
                break;
            case types.Material_Variable:
                result = 'Material';
                break;
            default:
                result = "";
                break;
        }
        return result;
    }
    var item = {
        'AttributeId': null,
        'Value': null,
        'Quantity': null,
        'Price': null,
        'IsActive':true
    };

    const itemNameandProperties = {
        'ModelName': "Attributes",
        'AttributeIdProperty': "AttributeId",
        'ValueProperty': "Value",
        'QunatityProperty': "Quantity",
        'PriceProperty': "Price",
        'IsActiveProperty':"IsActive"
    };
    var data =Array.from(JSON.parse('@Html.Raw( @Newtonsoft.Json.JsonConvert.SerializeObject(@Model.Attributes,Newtonsoft.Json.Formatting.None))'));
    var state = {
        count:data.length,
        remoteValues: null,
        typeSelected: @Model.Product.Type,
        categoryId: @Model.Product.Category_Id_FK,
        IsSelected: false,
        previousCount:data.length
    };

    const validationMesage = {
        Price: {
            Required: "Please Enter Price",
            Number: "Please Enter Valid Price",
            Min: "Must be atleast 1",
            Max: "Must be smaller than 1,00,000"
        },
        Quantity: {
            Required: "Please Enter Quantity",
            Max: "Must be atmost 255",
            Min: "Must be atleast 1",
            Digits: "Please Enter Valid Quantity"
        },
        'Dropdown': 'Please Select a ',
        getDropdownMessage: function (name) {
            return this.Dropdown.concat(name)
        }
    };
    const ResetFormValidation = function () {

        $('form')
            .removeData("validator") /* added by the raw jquery.validate plugin */
            .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/

        $.validator.unobtrusive.parse($('form'));
    }
    function getNameByProperty(index, propertyName) {
        let result = itemNameandProperties.ModelName + `[${index}]` + '.';
        result = result.concat(propertyName);
        return result;
    }

    function buildAttribute(type, categoryId, index) {
        state.count++;
        if (!data[index])
            data.push(jQuery.extend({}, item))
        data[index][itemNameandProperties.AttributeIdProperty] = type;
        let attributeWrapper = $('<div>').addClass("row");
        let dropdownWrapper = $('<div class="col-2 form-group"></div>');
        let label = $('<label></label>').text(GetTypeName(type));
        let hiddenType = $('<input type="text" class="form-control"/>')
            .hide()
            .attr("name", getNameByProperty(index, itemNameandProperties.AttributeIdProperty))
            .attr("value", (data[index][itemNameandProperties.AttributeIdProperty] + "").toString());

        const dropdownName = getNameByProperty(index, itemNameandProperties.ValueProperty);
        let dropdown = $('<select class="form-control"></select>')
            .attr("data-val", type != types.None_Variable)
            .attr("name", dropdownName)
            .attr("id", `${itemNameandProperties.ModelName}[${index}]_${itemNameandProperties.ValueProperty}`)
            .attr("data-val-required", validationMesage.getDropdownMessage(GetTypeName(state.typeSelected).toLowerCase()))
            .change(function () {
                data[index][itemNameandProperties.ValueProperty] = $(dropdown).val()
            }).click(function () {
                dropdown.children().remove();
                setValues(state.remoteValues);
                dropdown.val(data[index][itemNameandProperties.ValueProperty]);
            })
            .prop('disabled', type === types.None_Variable);

        const setValues = function (remoteValues) {
            data.forEach((e, eIndex) => {
                if (eIndex != index) {
                    const value = e[itemNameandProperties.ValueProperty];
                    remoteValues = remoteValues.filter(e => e.Value != value);
                }
            });
            Array.from(remoteValues).forEach(e => dropdown.append($('<option></option>').val(e.Value).text(e.Value)));
        }.bind(index);
        let dropdownErrorMsg = $('<span data-valmsg-replace="true"><span>')
            .attr("data-valmsg-for", dropdownName)
            .addClass("small text-danger");

        if (!state.IsSelected)
            $.ajax({
                method: 'GET',
                async: false,
                url: '@Url.Action("GetValues")' + `?type=${type}&categoryId=${categoryId}`,
                success: function (data) {
                    state.IsSelected = true;
                    state.remoteValues = data;
                    setValues(state.remoteValues);
                },
                error:onError
            });
        else {
            setValues(state.remoteValues);
        }
        dropdown.val(data[index][itemNameandProperties.ValueProperty]);

        dropdownWrapper.append([label, dropdown, dropdownErrorMsg]);

        let quantityWrapper = $('<div class="col-2 form-group"><label>Quantity : </label></div>');
        const quantityName = getNameByProperty(index, itemNameandProperties.QunatityProperty);
        const quantityValidator = $('<span data-valmsg-replace="true">')
            .attr("data-valmsg-for", quantityName).addClass("small text-danger");
        let quantity = $('<input type="text" class="form-control" data-val="true"/>')
            .val(data[index][itemNameandProperties.QunatityProperty])
            .attr("name", quantityName)
            .attr("id", `${itemNameandProperties.ModelName}[${index}]_${itemNameandProperties.QunatityProperty}`)
            .attr("data-val-required", validationMesage.Quantity.Required)
            .attr("data-rule-digits", validationMesage.Quantity.Digits)
            .attr("data-msg-digits", validationMesage.Quantity.Digits)
            .attr("data-msg-min", validationMesage.Quantity.Min)
            .attr("data-msg-max", validationMesage.Quantity.Max)
            .attr("data-rule-min", 1)
            .attr("data-rule-max", 255)
            .focusout(function () {
                data[index][itemNameandProperties.QunatityProperty] = $(quantity).val();
            }.bind(index));
        quantityWrapper.append([quantity, quantityValidator]);

        let priceWrapper = $('<div class="col-2 form-group"><label>Price : </label></div>');
        const priceName = getNameByProperty(index, itemNameandProperties.PriceProperty);
        let priceErrorMsg = $('<span data-valmsg-replace="true">').addClass("small text-danger")
            .attr("data-valmsg-for", priceName);
        let price = $('<input type="text" class="form-control"  data-val="true"/>')
            .val(data[index][itemNameandProperties.PriceProperty])
            .attr("name", priceName)
            .attr("data-val-required", validationMesage.Price.Required)
            .attr("data-rule-numer", true)
            .attr("data-rule-min", 1)
            .attr("data-msg-min", validationMesage.Price.Min)
            .attr("data-rule-max", 99999.9999)
            .attr("data-max-msg", validationMesage.Price.Max)
            .attr("data-msg-numer", validationMesage.Price.Number)
            .attr("id", `${itemNameandProperties.ModelName}[${index}]_${itemNameandProperties.PriceProperty}`)
            .focusout(function () {
                data[index][itemNameandProperties.PriceProperty] = $(price).val();
            }.bind(index));
        priceWrapper.append([price, priceErrorMsg]);
        const editWrapper = $('<div class="col-1" id="edit-wrapper"></div>')
        const plusSign = $('<label class="display-1 text-success plusSign"><i class="fa fa-plus-circle"></i></label>')
            .attr("id", "plus-sign")
            .click(function () {
                buildAttribute(state.typeSelected, state.categoryId, index + 1);
                ResetFormValidation();
            }.bind(index));

        if (type != types.None_Variable)
            attributeWrapper.append(dropdownWrapper);
        attributeWrapper.append([quantityWrapper, priceWrapper, hiddenType]);
        const minusSign = $('<label class="display-1 text-danger"><i class="fa fa-minus-circle"></i></label>')
            .attr("id", "minus-sign")
            .click(function (e) {
                data = data.filter((e, eIndex) => eIndex != index);
                $(elements.productAttriuttesSection).children().remove();
                const loop = --state.count;
                state.count = state.previousCount;
                for (let i = state.previousCount; i < loop; i++) {
                    buildAttribute(state.typeSelected, state.categoryId, i);
                }
                if(data.length==state.previousCount)
                $('#plusSign').removeClass('invisible')
                ResetFormValidation();
            }.bind(index));

        $('.plusSign').remove()
        if (index != state.remoteValues.length - 1)
            editWrapper.append(plusSign)
        
        editWrapper.prepend(minusSign)
        
        if (type && type != types.None_Variable)
            attributeWrapper.append(editWrapper);
        $(elements.productAttriuttesSection).append(attributeWrapper);
    }
</script>
<script>
    $(elements.dateField).removeAttr('data-val-required')
    $(elements.dateUpdated).removeAttr('data-val-required')
    $('[type="submit"]').click(function(e){
    $(elements.dateUpdated).val(new Date().toISOString());
    $(this).submit();
    });
</script>

@section Styles
               {
                 <link href="~/lib/quill/quill.snow.min.css" rel="stylesheet"/>
                 <link href="~/lib/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet"/>
               }
@section Scripts
{
<script src="~/lib/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="~/lib/quill/quill.min.js"></script>   
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
